@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.navbar-media {
    display: none;
}

.Navbar {
    width: 100dvw;
    height: 10dvh;
}

.nav {
    width: 100dvw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5dvw;
}

.nav img {
    width: 7dvw;
    height: 8dvh;
}

.tags {
    width: auto;
    height: auto;
    display: flex;
    gap: 1dvw;
}


.contact-btn {
    width: 8dvw;
    height: 5dvh;
    background: none;
    border-radius: 7px;
    border: none;
    border: 1.5px solid #5E3BEE;
    border-color: #5E3BEE;
    color: #5E3BEE;
    cursor: pointer;
}

.tags button {
    width: 6dvw;
    color: black;
    border: none;
    cursor: pointer;
    background: none;
}


@media (max-width:1500px) {

    .contact-btn {
        width: 10dvw;
        height: 5dvh;
        background: none;
        border-radius: 7px;
        border: none;
        border: 1.5px solid #5E3BEE;
        border-color: #5E3BEE;
        color: #5E3BEE;
        cursor: pointer;
    }

    .tags {
        width: 60dvw;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2dvw;
    }

    .tags button {
        width: 8dvw;
        color: black;
        border: none;
        cursor: pointer;
    }


}

@media (max-width:1250px) {
    .nav img {
        width: 10dvw;
        height: 9dvh;
    }

    .contact-btn {
        font-size: 16px;
    }

    .tags button {
        font-size: 16px;
    }
}


@media (max-width:1250px) {
    .nav img {
        width: 10dvw;
        height: 9dvh;
    }

    .contact-btn {
        font-size: 16px;
    }
}

@media (max-width:1000px) {
    .tags button {
        font-size: 14px;
    }

    .contact-btn {
        font-size: 14px;
    }
}

@media (max-width:850px) {
    .Navbar {
        display: none;
    }

    .navbar-media {
        display: block;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 3dvw;
        width: 100dvw;
        height: 8dvh;
        position: fixed;
        z-index: 10;
        background-color: #fff;
    }

    .mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        backdrop-filter: blur(30px);
        gap: 40px;
        padding-top: 50px;
        width: 40dvw;
        height: 92vh;
        position: fixed;
        right: -2dvw;
        top: 8dvh;
        z-index: 1;
        transform: translateX(40dvw);
        transition: transform 0.5s ease-in-out;
    }

    .mobile-menu.open {
        transform: translateX(0);
    }

    .menu-icon {
        border: none;
        background: none;
        color: black;
    }


    .mobile-menu button {
        width: 30dvw;
        height: 5dvh;
        font-size: 18px;
        color: black;
        border: none;
        background: none;
    }

    .logo {
        width: 12dvw;
        height: 8dvh;
    }

    .medias {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3dvh;
        width: 100%;
        height: 35dvh;
        margin-top: 10dvh;
    }

    .medias button {
        width: 25dvw;
        height: 7dvh;
        border: 2px solid #5E3BEE;
    }

    .medias button img {
        width: 4dvw;
    }
}

@media (max-width:750px) {
    .mobile-menu {
        width: 50dvw;
        transform: translateX(50dvw);
    }
}

@media (max-width:660px) {
    .mobile-menu {
        width: 55dvw;
        transform: translateX(55dvw);
    }

    .medias button {
        width: 25dvw;
        height: 6dvh;

        font-size: 16px;
    }

    .medias button img {
        width: 3dvw;
    }

    .logo{
        width: 20dvw;
    }
}

@media (max-width:585px) {
    .navbar-media {
        width: 112dvw;
    }
}

@media (max-width:570px) {


    .mobile-menu {
        width: 60dvw;
        height: 100dvh;
        transform: translateX(60dvw);
    }
}

@media (max-width:520px) {
    .mobile-menu {
        width: 70dvw;
        height: 120dvh;
        transform: translateX(70dvw);
    }

    .medias button {
        width: 30dvw;
        height: 6dvh;

        font-size: 16px;
    }

    .medias button img {
        width: 3dvw;
    }
}

@media (max-width:480px) {
    .navbar-media {
        width: 115dvw;
    }

    .mobile-menu {
        width: 80dvw;
        height: 120dvh;
        transform: translateX(80dvw);
    }
}

@media (max-width:420px) {
    .mobile-menu {
        width: 120dvw;
        height: 130dvh;
        transform: translateX(120dvw);
    }

    .medias button {
        width: 40dvw;
        height: 6dvh;

        font-size: 16px;
    }

    .medias button img {
        width: 3dvw;
    }

    .logo{
        width: 23dvw;
    }
}

@media (max-width:400px) {
    .navbar-media {
        width: 118dvw;
    }
}

@media (max-width:350px) {
    .navbar-media {
        width: 125dvw;
    }
}