@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");


.Navbar {
    width: 100dvw;
    height: 10dvh;
}

.nav {
    width: 100dvw;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5dvw;
}

.nav img {
    width: 7dvw;
    height: 8dvh;
}

.tags {
    width: auto;
    height: auto;
    display: flex;
    gap: 1dvw;
}

.tags button {
    color: aliceblue;
}

.nav button {
    width: 8dvw;
    height: 5dvh;
    background: none;
    border-radius: 7px;
    border: none;
    border: 1.5px solid #5E3BEE;
    border-color: #5E3BEE;
    color: #5E3BEE;
    cursor: pointer;
}

.tags button {
    width: 6dvw;
    color: black;
    border: none;
    cursor: pointer;
}