* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.Portfolio {
    width: 100dvw;
    height: 90dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1dvw;
    padding: 50px 0;
}

.port {
    display: none;
}

.recent {
    width: 100dvw;
    height: 15dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3dvw;
}

.recent h2 {
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.recent h2 h1 {
    font-size: 45px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

button {
    width: 13dvw;
    height: 7dvh;
    background: none;
    border: none;
    border-radius: 7px;
    background-color: #E62872;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1dvw;

    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    cursor: pointer;
}

.bottom-cards {
    width: 100dvw;
    height: 60dvh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2dvw;
}

.incard {
    width: 23dvw;
    height: 45dvh;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 1dvw;
}

.incard img {
    border-radius: 10px;
}

.incard h1 {
    font-size: 20px;
    margin-left: 1.4dvw;
    font-family: sans-serif;
}

.incard p {
    width: 90%;
    font-size: 16px;
    margin-left: 1.4dvw;
    font-family: sans-serif;
    color: #1C1E53;
}

.incard button {
    width: 10dvw;
    height: 5dvh;
    margin-left: 1.4dvw;
    background: none;
    border: none;
    border-bottom: 1.5px solid black;
    border-radius: 0;

}

.incard button a {
    color: black;
    font-size: 16px;
}

.incard button img {
    width: 2dvw;
}

@media (max-width:1470px) {
    .incard {
        width: 23dvw;
        height: 45dvh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 2dvw;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        gap: 1dvw;
    }

    .recent button {
        width: 15dvw;
    }
}

@media (max-width:1350px) {
    .incard {
        width: 28dvw;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }
}

@media (max-width:1250px) {
    .incard {
        width: 28dvw;
        height: 40dvh;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .incard h1 {
        font-size: 18px;
    }

    .incard p {
        font-size: 14px;
    }

    .incard button {
        width: 15dvw;
    }

    .recent button {
        width: 18dvw;
        font-size: 18px;
    }

    .recent button img {
        width: 2dvw;
    }

}

@media (max-width:1050px) {
    .Portfolio {
        width: 100dvw;
        outline: none;
        padding: 2dvw 0;
        height: 130dvh;
    }

    .bottom-cards {
        width: 100dvw;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 6dvh;
    }

    .incard {
        width: 40dvw;
        height: 45dvh;
        border-top-right-radius: 10px;
        border-top-left-radius: 10px;
    }

    .incard button {
        width: 25dvw;
    }
}


@media (max-width:940px) {
    .recent button {
        width: 22dvw;
    }
}

@media (max-width:800px) {
    .port {
        display: block;
    }

    .Portfolio {
        display: none;
    }


}